<ion-header [translucent]="true" >
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bem Vindo(a)</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img  src="https://cdn.discordapp.com/attachments/562043807454068741/712413426659491840/infodonto.png"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Tudo sobre anestesia odontologica.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Com o InfOdonto você vai achar todo o conteúdo que precisa sobre anestesias odontológicas. 
      Toda uma coletânea de conteúdos, vídeos, imagens, PDF's e Artigos científicos, em um único lugar.
    </ion-card-content>
  </ion-card>
  


  <ion-card>
    <ion-item href="../folder/texto" class="ion-activated">
      <ion-icon name="albums" slot="start"  color = "secondary"></ion-icon>
      <ion-label>Conteúdos</ion-label>
    </ion-item>
  
    <ion-item href="../foldervideo/video" class="ion-activated">
      <ion-icon name="videocam" slot="start"  color = "secondary"></ion-icon>
      <ion-label>Vídeos</ion-label>
    </ion-item>
  
    <ion-item href="../foldersobre/sobre" class="ion-activated">
      <ion-icon name="book" slot="start"  color = "secondary"></ion-icon>
      <ion-label>Literatura</ion-label>
    </ion-item>
  
    <ion-item href="../perguntas" class="ion-activated">
      <ion-icon name= "help-circle-sharp" slot="start"  color = "secondary"></ion-icon>
      <ion-label>Perguntas</ion-label>
    </ion-item>
  </ion-card>

</ion-content>